/* Base.php css */
body{
    background-color: lightblue;
}
header{
    display: flex;
    justify-content: center;
}
nav{
    display: flex;
}
ul, li, a{
    text-decoration: none;
    list-style: none;
}
.logo{
    width: 100px;
    height: 100px;
}
/* all h1 */
h1{
 color:rgb(83, 83, 83);
}
/* plats.php css */
.contenair--card{
    width: 280px;
    height: 380px;
    background-color: white;
}
.plats--contenair{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
